<h2> Edit Book </h2>

<!-- can only use post in forms! -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type="submit">Update</button>

    <!-- a tags are used for links, buttons are used for interacting with the form-->
</form>