<h2 class="page-header"> Edit Book </h2>

<!-- can only use post in forms! -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
    

    <!-- a tags are used for links, buttons are used for interacting with the form-->
</form>