<h2  class="page-header"> New Book </h2>

<!-- can only use post in forms! -->
<form action="/books" method="POST">

    <%- include('_form_fields') %>

    <div class="form-row btn-row form-row-end">
        <a class="btn  btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
    

    <!-- a tags are used for links, buttons are used for interacting with the form-->
</form>