<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body style="
    background-color: #495464; 
    color: #e8e8e8;
    height: 100%;
    ">
    Before
    <br>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>

    <%- body %>
    <br>
    <footer style="
        display: absolute;
        bottom: 0;
        font-size: .5rem;
        color: #bbbfca;
        text-align: center;
        padding-top: 5rem;
    ">
        Coded by Kayla Wilson, Tutorial by WebDevSimplified
    </footer>

</body>
</html>