<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <!--name is what allows us to say body.name on the server to access it-->
        <input type="text" name="name" value= <%= author.name %> >
        <!--the < % = tells the page to output js as html-->
    </div>
</div>
