<h2  class="page-header"> New Author </h2>

<!-- can only use post in forms! -->
<form action="/authors" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors">Cancel</a>
    <button  class="btn btn-primary" type="submit">Create</button>

    <!-- a tags are used for links, buttons are used for interacting with the form-->
</form>